[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
djangorestframework = "*"
python-decouple = "*"
"psycopg2-binary" = "*"
mysql-connector-python = "*"
mysqlclient = "*"
django-heroku = "*"
django-oauth-toolkit = "*"
django-cors-headers = "*"
django-cors-middleware = "*"
stripe = "*"
drf-yasg = "*"

[dev-packages]
pylint = "*"
"flake8" = "*"

[requires]
python_version = "3.7"
